altgraph
babel
customtkinter
darkdetect
et_xmlfile
numpy
openpyxl
packaging
pandas
pefile
pip
pyinstaller
pyinstaller-hooks-contrib
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
pywin32
pywin32-ctypes
setuptools
six
tkcalendar
tzdata
